/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
/* UTILITY */
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* HEADER */
header.main {
    margin-top: 20px;
    margin-bottom: 20px;

}

.main .main-logo img {
    height: 60px;
}

nav .main-menu {
    list-style: none;
}

.main-menu > li {
    display: inline-block;
    margin-top: 25px;
}

.main-menu > li a {
    color: #8f8f8f;
    text-decoration: none;
}

.main-menu > li a:hover {
    color: black;
}

/* MAIN TOP */
main.top {
    margin-bottom: 20px;
    height: 400px;
    border-radius: 10px;
    background-color: #feebe4;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

main.top:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.top .image-texts {
    width: 50%;
    padding-top: 220px;
    padding-left: 30px;
    color: white;
}

.top .image-texts p {
    line-height: 22px;
}

/* MAIN CONTENT */
.box {
    background: #3286ff;
    margin-bottom: 10px;
}

.box > * {
    background: #accee7;
}

.box header {
    height: 50px;
    margin-bottom: 20px;
}

.box .side-column, 
.box .column {
    height: 510px;
    margin-bottom: 20px;
    float: left;
}

.box .side-column {
    width: 24%;
}

.box .column {
    width: 50%;
    margin: 0 1%;
} 

/* FOOTER */
footer {
    height: 50px;
    background: #8700fd;
    margin-bottom: 20px;
}